.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: calc(100vh - 50px);
}

mat-toolbar {
  background: #f4f2f5;
  color: #0000008C;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #f4f2f5;
  color: #0000008C;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;

}

h4 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 19px;
}

/*
.name {
  margin-top: 8px;
  font-weight: normal;
} */

.designation {
  /* margin-top: 2px;
  font-size: 0.7rem;
  color: #0000008C; */
  font-size: 13px;
}

mat-icon {
  color: #0A769D /*#0000008C*/;
}

span {
  color: #0000008C;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.80rem;
  mat-icon, span, a {
    margin-right: 8px;
  }
}

.content {
  height: calc(100vh - 85px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  font-size: 1rem;
  color: lightgray
}

mat-sidenav-content{
  height: calc(100vh - 50px);
}

